<h1 id="tableLabel">Books</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!books"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<p>
  <input type="file" accept=".txt" (change)="validateFile($event)">
</p>
<p *ngIf="isValidFile">
  <button type="button" (click)="getBooksData()">Get Data Books</button>
</p>

<table *ngIf="books">
  <thead>
    <tr>
      <th>Row Number</th>
      <th>Data Retrieval Type</th>
      <th>ISBN</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Author Name(s)</th>
      <th>Number of Pages</th>
      <th>Publish Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.rowNumber }}</td>
      <td>{{ book.dataRetrievalType }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.subtitle }}</td>
      <td>{{ book.authorNames }}</td>
      <td>{{ book.numberOfPages }}</td>
      <td>{{ book.publishDate }}</td>
    </tr>
  </tbody>
</table>
